{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href="formVerCuentasPorCobrar.html">Ver</a></li>
                    <li id="ilnav"><a href="formRegistroCuentasPorCobrar.html">Nuevo</a></li>
                    <li id="ilnav"><input class="form-control" type="text" name="buscar" placeholder="Buscar"/></li>

                </ul>
            </div>    
        </nav>
    </header>


    <div class="container">
        <h2><label class="control-label col-md-7" for="name">Lista de cuentas por cobrar</label></h2>
    </div>

    <div class="container col-md-11">
        <div class="table-responsive">
        <table id="mitabla" class="table table-bordered table-condensed">
            <tr><!-- warning danger active ó success ó info-->

                <th id="misth2">Num. cuenta</th>
                <th id="misth3">Fecha</th>
                <th id="misth4">Cédula</th>
                <th id="misth4">Cliente</th>
                <th id="misth6">Ciudad</th>
                <th id="misth7">Fecha I. Pag.</th>
                <th id="misth8">Total</th>
                <th id="misth9">Cuota inicial</th>
                <th id="misth10">Cuotas</th>
                <th id="misth11">Forma pago</th>
                <th id="misth12">Saldo</th>
                <th id="misth13">Observación</th>
                <th id="misth14">Estado</th>
                <th id="misth15">Editar</th>
                <th id="misth16">Eliminar</th>
            </tr>
            <tr>
                <td>000111</td>
                <td>06-Ago-15</td>
                <td>0705463123</td>
                <td>Jordi Duran P</td>
                <td>Machala</td>
                <td>06-Ago-15</td>
                <td>1200.00</td>
                <td>50.00</td>
                <td>30.00</td>
                <td>Semanal</td>
                <td>1150.00</td>
                <td>Cobrar dias sabados después de las 3pm</td>
                <td>Activo</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
            </tr>
        </table>     
    </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
