{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href='{% url 'facturas'%}'>Ver</a></li>
                    <li id="ilnav"><a href='{% url 'nuevo_factura'%}'>Nuevo</a></li>
                    <li id="ilnav"><input class="form-control" type="text" name="buscar" placeholder="Buscar"/></li>

                </ul>
            </div>    
        </nav>
    </header>


    <div class="container">
        <h2><label class="control-label col-md-11" for="name">Lista de facturas</label></h2>
    </div>
    <div class="container col-md-7">
        <div class="table-responsive">
        <table id="mitabla" class="table table-bordered table-condensed">
            <tr>
                <th id="misth1">Id</th>
                <th id="misth2"># Factura</th>
                <th id="misth3">Fecha</th>
                <th id="misth4">Cliente</th>
                <th id="misth5">Cédula</th>
                <th id="misth6">Total</th>
                <th id="misth7" colspan="2">Acciones</th>
            </tr>
            {% for fac in lstFactura %}
            <tr>
                <td>{{fac.id}}</td>
                <td>{{fac.numeroFactura}}</td>
                <td>{{fac.fechaFactura}}</td>
                <td>{{fac.clienteFactura.personaCliente.apellidosPersona}} {{fac.clienteFactura.personaCliente.nombresPersona}}</td>
                <td>{{fac.clienteFactura.personaCliente.cedulaPersona}}</td>
                <td>{{fac.totalFactura}}</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span><a href='{% url 'editar_factura' fac.id %}'>Editar</a></td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span><a href='{% url 'eliminar_factura' fac.id %}'>Eliminar</a></td>
            {% endfor %}
            </tr>
        </table>     
        </div>
    </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
