{% extends 'index.html' %}
{% block content %}

    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'productos'%}'>Ver</a></li>
                    <li id="ilnav" class="active"><a href='{% url 'nuevo_producto'%}'>Nuevo</a></li>
                </ul>
            </div>    
        </nav>
    </header>


<div class="container">
        <form id="miform" action="{% url "guardar_producto" 0 %}" class="form-horizontal" method="POST">
        {% csrf_token %}
        {{ form.as_p }}                  
                <div class="form-group">
                    <h2><label class="control-label col-md-5" for="name">Datos del producto</label></h2> 
                    <div class="col-md-4">
                        <span class="required_notification">Todos los campos son obligatorios</span>
                    </div>
                </div>
                <hr>

                <!--<div class="form-group">
                    <label class="control-label col-md-4" for="name">Código:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="codigo" placeholder="" />
                    </div>
                    
                </div>-->

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Código:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="codigo" placeholder="TEL_0001" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Descripción:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" name="descripcion" placeholder="..." />
                    </div>
                </div>

                <div class="form-group"> 
                    <label class="control-label col-md-4" for="name">Marca:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="marca" placeholder="LG" />
                    </div>

                    <div class="form-inline">
                        <label class="control-label col-md-1" for="name">Categoría: </label>
                        <div class="col-md-2">
                            <select class="form-control" id="selectbasic" name="selectbasic">
                                {% for item in lstCategoria %}
                                <option value = {{ item.id }}>
                                {{ item.descripcionCategoria }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group"> 
                    <div class="form-inline">
                        <label class="control-label col-md-4" for="name">Stock_Min:</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="stockMinimo" placeholder="20" />
                        </div>
                    </div>

                     <div class="form-inline">
                        <label class="control-label col-md-1" for="name">Costo:</label>
                        <div class="col-md-2">
                        <input class="form-control" type="text" name="costo" placeholder="40,00" />
                    </div>
                    </div>
                </div>

                <div class="form-group"> 
                    <div class="form-inline">
                        <label class="control-label col-md-4" for="name">Valor Agregado (%):</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="valorAgregado" placeholder="0,05" />
                        </div>
                    </div>

                     <div class="form-inline">
                        <label class="control-label col-md-1" for="name">Iva (%):</label>
                        <div class="col-md-2">
                        <input class="form-control" type="text" name="iva" placeholder="12" />
                    </div>
                    </div>
                </div>

                <div class="form-group"> 
                    <div class="form-inline">
                        <label class="control-label col-md-4" for="name">Precio contado:</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" name="precioContado" placeholder="200,00" />
                        </div>
                    </div>

                     <div class="form-inline">
                        <label class="control-label col-md-1" for="name">Precio crédito:</label>
                        <div class="col-md-2">
                        <input class="form-control" type="text" name="precioCredito" placeholder="300,00" />
                    </div>
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <label class="control-label col-md-4" for="prependedcheckbox">Estado (Activo/Inactivo:</label>
                    <div class="control-label col-md-1"><input type="checkbox"></div>
                </div>-->
        
                <!--<label class="control-label" for="textinput">Correo:</label>
                <input id="textinput" name="textinput" type="email" placeholder="correo" class="input-xlarge">-->
                <hr>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-6">
                        <button class="submit" type="submit">Guardar</button>        
                    </div>
                </div>
                <br>            
        </form>
    </div>  

{% endblock %}