{% extends 'index.html' %}
    {% block content %}
    <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'facturas'%}'>Ver</a></li>
                    <li id="ilnav" class="active"><a href='{% url 'nuevo_factura'%}'>Nuevo</a></li>
                </ul>
            </div>    
        </nav>
    </header>

    <div class="container">
        <form id="miform" class="form-horizontal" method="POST">                
                <div class="form-group">
                    <h2><label class="control-label col-md-3" for="name">Datos de la factura</label></h2> 
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">C.C./Ruc:</label>
                    <div class="col-md-3">
                        <input class="form-control typeahead" name="cc_ruc" type="text" id="txtBuscarCliente" placeholder="Buscar Cliente..." autocomplete="off" />
                    </div>
                    <div class="col-md-1">
                        <button class="btn" type="button" onclick="mostrarCliente();">OK</button>  
                    </div>                
                    <label class="control-label col-md-3" for="name">Factura #:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="txtnfactura" name="numerofactura" placeholder="0001234" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Cliente:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id="txtCliente" name="cliente" placeholder="..." readonly="true" />
                    </div>
                    <label class="control-label col-md-2" for="name">Fecha:</label>
                    <div class="col-md-2">
                        <input class="form-control" id="txtfecha" type="text" name="fecha" placeholder="18-Julio-2015" readonly="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Dirección:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id ="txtDireccion" name="direccion" placeholder="..." readonly="true" />
                    </div>
                    <label class="control-label col-md-2" for="name">Ciudad:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="ciudad" placeholder="Pasaje" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Buscar:</label>
                    <div class="col-md-4">
                       <select class="form-control" name="country" id="basic" tabindex="-1" title="" class="select2-offscreen">
                            {%for producto in lstProducto%}
                                <option value="{{producto.id}}">{{producto.descripcionProducto}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-md-1">
                        <input id="cantidad" class="form-control" type="text" name="cantidad" placeholder="cant." />            
                    </div>
                    <div class="col-md-1">
                        <button class="btn" type="button" onclick="AgregarFila();">+</button>  
                    </div>
                </div>

                <div class="container col-md-11">
                    <div class="table-responsive">
                    <p><table id="mitabla" name="mitable" class="table table-bordered table-condensed">
                        <thead>
                            <tr><!-- warning danger active ó success ó info-->
                                <th id="misth1" class="col-md-1">Cantidad</th>
                                <th id="misth2" class="col-md-5">Artículo</th>
                                <th id="misth3" class="col-md-1">Valor unitario</th>
                                <th id="misth4" class="col-md-1">Valor total</th>
                                <th id="misth4" class="col-md-1">Quitar</th>
                            </tr>
                        </thead>
                    </table></p>     
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="busca">Observaciones:</label>
                    <div class="col-md-5">
                        <input  id="txtObservaciones" class="form-control" type="text" name="observaciones" placeholder="..." />            
                    </div>
                    
                    <label  class="control-label col-md-2" for="name"  >Subtotal:</label>
                    <div class="col-md-2">
                        <input  id="txtSubtotal" class="form-control" type="text" id= "txtSubtotal" name="subtotal" placeholder="120.00" readonly="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-9" for="name">Descuento:</label>
                    <div class="col-md-1">
                        <input  class="form-control" type="text" id="txtPorcentaje" name="porcentaje" placeholder="5" />
                    </div>
                    <div class="col-md-1">
                        <input id="txtDescuento"  class="form-control" type="text" name="descuento" placeholder="5.10" readonly="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="control-label col-md-9" for="name">Iva 0%:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="txtIvaCero" name="ivacero" placeholder="0%" readonly="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-9" for="name">Iva 12%:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="txtIvaDoce" name="ivadoce" placeholder="12%" readonly="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-9" for="name">Total:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="txtTotal" name="total" placeholder="120" readonly="true"/>
                    </div>
                </div>


                <hr>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name"></label>
                    <div class="col-md-3">
                        <button class="submit" type="button" id="btnGuardar">Guardar</button>        
                    </div>

                    <div class="col-md-2">
                        <button class="submit" type="submit">Cancelar</button>        
                    </div>
                </div>  
                <br>          
        </form>
    </div>              
{% endblock %}
{% block js %} 
<script>
$(document).ready(function(){
    $("#basic").select2();
    
    $("#multi").select2({
        placeholder: "Seleccione un producto"
    });
    
    $("#minimum").select2({
        minimumInputLength: 2
    });
});
</script>

<script type="text/javascript">
    var f = new Date();
    document.getElementById('txtfecha').value=(f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate());
    //    var fecha = (f.getFullYear() + "-" + (f.getMonth() +2) + "-" + f.getDate());

    function AgregarFila( ){
        var combo = document.getElementById("basic");
        var index = combo.selectedIndex;
        var id = combo.options[index].value;
        var descripcion = combo.options[index].text;
        var table = document.getElementById("mitabla");
        index = table.rows.length;
        if (index <=11)
        {
        if (EstaEnTabla(id)==false)
        {
            var row = table.insertRow(index);
            row.value = id;
            var cantidadCell = row.insertCell(0);     var descripcionCell = row.insertCell(1);
            var valorUnCell = row.insertCell(2);      var valorTotalCell = row.insertCell(3);
            var quitarCell = row.insertCell(4);

            var cantidadAux = (document.getElementById("cantidad").value +"").replace(",", ".");
            var valorUnAux = (BuscarPrecioProducto(id)+"").replace(",",".");
            var valorToAux = parseFloat(cantidadAux) * parseFloat(valorUnAux);
            var idPp = id + "";
            cantidadCell.innerHTML = cantidadAux;
            descripcionCell.innerHTML = descripcion;
            valorUnCell.innerHTML = valorUnAux+"";
            valorTotalCell.innerHTML = valorToAux+"";
            
            var strQuitar = "<button class='btn' type='button' onclick='EliminarFilas(this);'><span class='glyphicon glyphicon-remove'></button>";
            quitarCell.innerHTML = strQuitar;
            Sumartotales();
        }
        else
        {
            alert("Ya existe el producto en la tabla!");
        }
        }else
        {
            alert("Solo admite 11 productos!");
        }
   }

   function mostrarCliente(){
        var cedulaBuscar=document.getElementById("txtBuscarCliente").value;
        {% for cli in lstCliente %}
          if("{{ cli.personaCliente.cedulaPersona }}" == cedulaBuscar){
                var nombre = "{{cli.personaCliente.nombresPersona}}"
                var apellido = "{{cli.personaCliente.apellidosPersona}}"
                var direccion = "{{cli.personaCliente.direccionPersona}}"
                document.getElementById("txtCliente").value=apellido + " " +nombre;
                document.getElementById("txtDireccion").value=direccion;
            }
        {% endfor %}
    }

    function BuscarPrecioProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.precioContadoProducto}}";
            }
        {% endfor %}
    }       

    function EliminarFilas(t)
    {
        var td = t.parentNode;
        var tr = td.parentNode;
        var table = tr.parentNode;
        table.removeChild(tr)
        Sumartotales()
    }

    function redondeo(numero){
        var flotante = parseFloat(numero);
        var resultado = Math.round(flotante*100)/100;
        return resultado;
    }

    function Sumartotales(){
        var tabla = document.getElementById('mitabla');
        var total=0;
        for(var i = 1;tabla.rows[i];i++){
            total+= Number(tabla.rows[i].cells[3].innerHTML);
        }
            console.log(total);
            LlenarCamposTotales(total);
    }

    function LlenarCamposTotales(subtotal){
        var subAux = subtotal + "";
        sub = Number(subAux);
        alert(sub);
        var porDescuentoAux = document.getElementById("txtPorcentaje").value;
        descuentoAux = parseFloat("0.00");
        if (porDescuentoAux != "")
        {
            dessss = parseFloat(porDescuentoAux);
            alert(dessss+" ll");
            descuentoAux = (dessss/100)* sub;
        }
        else
        {
            document.getElementById("txtPorcentaje").value = 0;
        }   

        ivaDoceAux = sub * 0.12;
        totalAux = sub + ivaDoceAux - descuentoAux;
        document.getElementById("txtSubtotal").value = redondeo(sub);
        document.getElementById("txtDescuento").value = redondeo(descuentoAux);
        document.getElementById("txtIvaCero").value = 0;
        document.getElementById("txtIvaDoce").value = redondeo(ivaDoceAux);
        document.getElementById("txtTotal").value = redondeo(totalAux);
    }

    function EstaEnTabla(idProAux){
        var tabla = document.getElementById('mitabla');
        for(var i = 1;tabla.rows[i];i++){
            var idRow = tabla.rows[i].value;
            if (idRow == idProAux)
            {
                return true;
            }
        }
        return false;
    }

    $("#btnGuardar").click(
        function(){
        var tabla = document.getElementById('mitabla');
        if (tabla.rows.length >1){ 
            $.get('/ventas/factura/guardar',{
                    numeroFactura: document.getElementById("txtnfactura").value,
                    subtotal: document.getElementById("txtSubtotal").value,
                    descuento: document.getElementById("txtDescuento").value,
                    ivaCero:document.getElementById("txtIvaCero").value,
                    ivaDoce:document.getElementById("txtIvaDoce").value,
                    total:document.getElementById("txtTotal").value,
                    observaciones:document.getElementById("txtObservaciones").value,
                    cliente:document.getElementById("txtBuscarCliente").value,
                    fecha: f,
                    });
            for (var i = 1; tabla.rows[i];i++){
                $.get('/ventas/factura/guardarDetalle',{
                    cantidad: document.getElementById('mitabla').rows[i].cells[0].innerHTML,
                    precio: document.getElementById('mitabla').rows[i].cells[2].innerHTML,
                    numeroFactura: document.getElementById("txtnfactura").value,
                    productoId: document.getElementById("mitabla").rows[i].value,
                });
            }
        }
        alert("Datos Guardados Correctamente... ")
        //setTimeout("location.href='/ventas/factura/lista'",2000);       
        }
    )
</script>

<script >
        var nombre = []
        var contador  = 0;
        {% for cli in lstCliente %}
            nombre[contador]="{{cli.personaCliente.cedulaPersona}}";
            console.log(nombre[contador]);
            contador=contador+1;
        {% endfor %}

          $('input.typeahead').typeahead({
                  local: nombre
              });
</script>
{% endblock %}