{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href='{% url 'cuentas_por_cobrar'%}'>Ver</a></li>
                    <li id="ilnav"><a href='{% url 'nuevo_cuenta_por_cobrar'%}'>Nuevo</a></li>
                    <li id="ilnav"><input id="searchTerm" class="form-control" type="text" name="buscar" onkeyup="doSearch()" placeholder="Buscar"/></li>

                </ul>
            </div>    
        </nav>
    </header>


    <div class="container">
        <h2><label class="control-label col-md-7" for="name">Lista de cuentas por cobrar</label></h2>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table id="mitabla" class="table table-bordered table-condensed">
                <tr>
                    <th id="misth1">No.</th>
                    <th id="misth2">Fecha</th>
                    <th id="misth3">Cédula</th>
                    <th id="misth4">Cliente</th>
                    <th id="misth5">Fecha In.</th>
                    <th id="misth6">Total</th>
                    <th id="misth7">C.I.</th>
                    <th id="misth8">Saldo</th>
                    <th id="misth9">Cuota</th>
                    <th id="misth10">Forma Pago</th>
                    <th id="misth11">Estado</th>
                    <th id="misth12" colspan="3">Acciones</th>
                </tr>

                {% for cpc in lstCuentaCobrar %}
                <tr>
                    <td>{{ cpc.numeroCuentaCobrar }}</td>
                    <td>{{ cpc.fechaCuetaCobrar |date:"d-m-Y"}}</td>
                    <td>{{ cpc.clienteCuentaCobrar.personaCliente.cedulaPersona }}</td>
                    <td>{{ cpc.clienteCuentaCobrar.personaCliente.apellidosPersona }} {{ cpc.clienteCuentaCobrar.personaCliente.nombresPersona }}</td>
                    <td>{{ cpc.fechaInicioPagoCuentaCobrar|date:"d-m-Y" }}</td>
                    <td>{{ cpc.totalCuentaCobrar }}</td>
                    <td>{{ cpc.cuotaInicialCuentaCobrar }}</td>
                    <td>{{ cpc.saldoCuentaCobrar }}</td>
                    <td>{{ cpc.cuotaCuentaCobrar }}</td>
                    <td>{{ cpc.formaPagoCuentaCobrar }}</td>
                    <td>{{ cpc.estadoCuentaCobrar }}</td>
                    <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span><a href='{% url 'abonar_cuenta_por_cobrar' cpc.id %}'>Abonar</a></td>
                    <td id="td_eliminar"><span class="glyphicon glyphicon-zoom-in"></span><a href='{% url 'vista_cuenta_por_cobrar' cpc.id %}'>Ver</a></td>
                    <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span><a href="">Anular</a></td>
                </tr>
                {% endfor %}

            </table>     
        </div>
    </div>

{% endblock %}
