{% extends 'index.html' %}
{% block content %}

    <header id="header">

        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href="formVerPermisos.html">Ver</a></li>
                </ul>
            </div>    
        </nav>
        
    </header>
    

<div class="container">
    <div class="container">
        <h2><label class="control-label col-md-7" for="name">Lista de permisos</label></h2>
    </div>    <div class="container col-md-5">
        <div class="table-responsive">
        <table id="mitabla" class="table table-bordered table-condensed">
            <tr>
                <th id="misth1">Id</th>
                <th id="misth1">Rol</th>
                <th id="misth2">Recurso</th>
                <th id="misth3">Editar</th>
                <th id="misth4">Eliminar</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td>Administrador</td>
                <td>Eliminar</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Administrador</td>
                <td>Ver</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Contador</td>
                <td>Nuevo</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Contador</td>
                <td>Ver</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
            </tr>
            
            <tr>
                <td>5</td>
                <td>Vendedor</td>
                <td>Ver</td>
                <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
            </tr>

            
        </table>     
        </div>
    </div>
</div>


{% endblock %}
