{% extends 'index.html' %}
    {% block content %}
    <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'kardex'%}'>Ver</a></li>
                    {%if razon == "MAS"%}
                        <li id="ilnav" class="active"><a href='{% url 'ingreso_kardex'%}'>Ingreso</a></li>
                        <li id="ilnav"><a href='{% url 'salida_kardex'%}'>Salida</a></li>
                    {%else%}
                        <li id="ilnav"><a href='{% url 'ingreso_kardex'%}'>Ingreso</a></li>
                        <li id="ilnav" class="active"><a href='{% url 'salida_kardex'%}'>Salida</a></li>
                    {%endif%}
                </ul>
            </div>    
    </nav>
    <div class="container">
        <form id="miform" action="{% url "guardar_kardex" %}" class="form-horizontal" method="POST">
        {% csrf_token %}
        {{ form.as_p }}                   
                <div class="form-group">
                    <h2><label class="control-label col-md-3" for="name">Datos de Ingreso Kardex</label></h2> 
                </div>
                <hr>

                 <div class="form-group">
                    <label class="control-label col-md-4" for="name">Fecha:</label>
                    <div class="col-md-2">
                        <input id="txtFecha" name="fecha" class="form-control"  type="text" placeholder="Seleccionar fecha" required />
                    </div>
                    <label class="control-label col-md-1" for="name">Razon:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="txtRazon" name="razon" placeholder="..."  value="{{razon}}" required readonly />
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Cédula:</label>
                    <div class="col-md-2">
                        <input class="form-control typeahead" name="cc_ruc" type="text" id="txtBuscarPersona" placeholder="Buscar..." autocomplete="off" required />
                    </div>
                    <div class="col-md-1">
                        <button class="submit" type="button" onclick="mostrarPersona();"><span id="add" class="glyphicon glyphicon-ok"></span></button>  
                    </div> 
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Razón Social:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id="txtCliente" name="cliente" placeholder="..." readonly="true" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Buscar:</label>
                    <div class="col-md-4">
                       <select class="form-control" name="country" id="basic" tabindex="-1" title="" class="select2-offscreen">
                            {%for producto in lstProducto%}
                                <option value="{{producto.id}}">{{producto.descripcionProducto}}</option>
                            {%endfor%}
                        </select>
                    </div>
    
                    <div class="col-md-1">
                        <button class="submit" type="button" onclick="AgregarFila();"><span id="add" class="glyphicon glyphicon-plus-sign"></span></button>  
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Descripción:</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" id ="txtDescripcion" name="descripcion" placeholder="..."  readonly required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Cantidad:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id ="txtCantidad" name="cantidad" placeholder="..." onkeyup="ale()" onkeypress="return justNumbers(event);" required pattern="^(?:\+|-)?\d+$" />
                    </div>
                    <label class="control-label col-md-1" for="name">Precio:</label>
                    <div class="col-md-2">
                        <input id="txtPrecio" class="form-control" type="text" name="precio" placeholder="0.00"required readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Saldo:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id ="txtSaldo" name="saldo" placeholder="..."  required readonly />
                    </div>
                    <label class="control-label col-md-1" for="name">Unidades</label>
                </div>               
                <hr>
                <div class="form-group">
                    <label id="lblEstado" class="control-label col-md-5" for="name"></label>
                    <div class="col-md-4">
                        <button id="btnGuardar" class="submit" type="submit" onclick="calcularSaldo()">Guardar</button>        
                    </div>
                </div>  
                <br>  
                <hr>       
        </form>
    </div>              
{% endblock %}

{%block js%}

<script>
    $(document).ready(function(){
        $("#basic").select2();
        
        $("#multi").select2({
            placeholder: "Seleccione un producto"
        });
        
        $("#minimum").select2({
            minimumInputLength: 2
        });
    });

    var nombre = [];
        var contador  = 0;
        {% for per in lstPersona %}
            nombre[contador]="{{per.cedulaPersona}}";
            console.log(nombre[contador]);
            contador=contador+1;
        {% endfor %}    

        $('input.typeahead').typeahead({
            local: nombre
        });

</script>

<script type="text/javascript">
    var cantAux=-1;
    var precAux=-1;
    function justNumbers(e)
    {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
        return true;    
        return /\d/.test(String.fromCharCode(keynum));
    }

    function calcularSaldo(){
        alert(Cantidad);
    }

    function AgregarFila( ){
        var combo = document.getElementById("basic");
        var index = combo.selectedIndex;
        var id = combo.options[index].value;
        var descripcion = combo.options[index].text;
        document.getElementById("txtDescripcion").value=descripcion;
        document.getElementById("txtCantidad").value=1;
        precio = BuscarPrecioProducto(id);
        document.getElementById("txtPrecio").value=precio;
        cantAux = BuscarCantidadProducto(id);
        precAux = BuscarPrecioProducto(id);
   }

    function BuscarPrecioProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.precioContadoProducto}}";
            }
        {% endfor %}
    }

    function BuscarCantidadProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.cantidadProducto}}";
            }
        {% endfor %}
    }            

   function mostrarPersona(){
        var cedulaBuscar=document.getElementById("txtBuscarPersona").value;
        {% for cli in lstPersona %}
          if("{{ cli.cedulaPersona }}" == cedulaBuscar){
                var nombre = "{{cli.nombresPersona}}";
                var apellido = "{{cli.apellidosPersona}}";
                document.getElementById("txtCliente").value=apellido + " " +nombre;
            }
        {% endfor %}
    }

    function ale()
    {
        var razA = document.getElementById("txtRazon").value;
        var can = document.getElementById("txtCantidad").value;
        var preEx = precAux;
        var canEx = cantAux;
        if(razA=="MAS")
        {
            if(cantAux!=-1 && can !="" && precAux!=-1)
            {
                cantActualAux = Number(can.replace(",", "."));
                precioAux=Number(preEx.replace(",", "."));
                cantidadAux = Number(canEx.replace(",","."));
                saldoActualTem = cantActualAux + cantidadAux;
                precioTem = cantActualAux * precioAux;
                document.getElementById("txtSaldo").value=saldoActualTem;
                document.getElementById("txtPrecio").value=precioTem;
            }
            else
            {
                document.getElementById("txtCantidad").value=0;
                document.getElementById("txtSaldo").value="";
            }
        }
        else
        {
            cantActualAux = Number(can.replace(",", "."));
            cantidadAux = Number(canEx.replace(",","."));
            verificar = cantidadAux - cantActualAux;
            if(cantAux!=-1 && can !="" && precAux!=-1 && verificar>=0)
            {
                precioAux=Number(preEx.replace(",", "."));
                saldoActualTem = cantidadAux - cantActualAux;
                precioTem = cantActualAux * precioAux;
                document.getElementById("txtSaldo").value=saldoActualTem;
                document.getElementById("txtPrecio").value=precioTem;
            }
            else
            {
                document.getElementById("txtCantidad").value=0;
                document.getElementById("txtSaldo").value="";
            }
        }
    }
</script>
<script type="text/javascript">
    
</script>

<script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                $('#txtFecha').datepicker({
                    format: "dd/mm/yyyy"
                });  
            });
</script>
{% endblock %}