{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href="formVerCuentasPorCobrar.html">Ver</a></li>
                    <li id="ilnav"><a href="formRegistroCuentasPorCobrar.html">Nuevo</a></li>
                    <li id="ilnav"><input id="searchTerm" class="form-control" type="text" name="buscar" onkeyup="doSearch()" placeholder="Buscar"/></li>

                </ul>
            </div>    
        </nav>
    </header>


    <div class="container">
        <h2><label class="control-label col-md-7" for="name">Lista de cuentas por cobrar</label></h2>
    </div>

    <div class="container col-md-11">
        <div class="table-responsive">
            <table id="mitabla" class="table table-bordered table-condensed">
                <tr>
                    <th id="misth1">Num. cuenta</th>
                    <th id="misth2">Fecha</th>
                    <th id="misth3">Cédula</th>
                    <th id="misth4" colspan="2">Cliente</th>
                    <th id="misth5">Fecha I. Pag.</th>
                    <th id="misth6">Total</th>
                    <th id="misth7">Cuota inicial</th>
                    <th id="misth8">Cuotas</th>
                    <th id="misth9">Forma pago</th>
                    <th id="misth10">Saldo</th>
                    <th id="misth11">Observación</th>
                    <th id="misth12" colspan="2">Acciones</th>
                </tr>

                {% for cpc in lstCuentaCobrar %}
                <tr>
                    <td>{{ cpc.numeroCuentaCobrar }}</td>
                    <td>{{ cpc.fechaCuetaCobrar }}</td>
                    <td>{{ cpc.clienteCuentaCobrar.personaCliente.cedulaPersona }}</td>
                    <td>{{ cpc.clienteCuentaCobrar.personaCliente.apellidosPersona }}</td>
                    <td>{{ cpc.clienteCuentaCobrar.personaCliente.nombresPersona }}</td>
                    <td>{{ cpc.fechaInicioPagoCuentaCobrar }}</td>
                    <td>{{ cpc.totalCuentaCobrar }}</td>
                    <td>{{ cpc.cuotaInicialCuentaCobrar }}</td>
                    <td>{{ cpc.cuotaCuentaCobrar }}</td>
                    <td>{{ cpc.formaPagoCuentaCobrar }}</td>
                    <td>{{ cpc.saldoCuentaCobrar }}</td>
                    <td>{{ cpc.observacionesCuentaCobrar }}</td>

                    <td id="td_editar"><span id"icon_editar" class="glyphicon glyphicon-edit"></span>Editar</td>
                    <td id="td_eliminar"><span class="glyphicon glyphicon-remove"></span>Eliminar</td>
                </tr>
                {% endfor %}


            </table>     
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
