{% extends 'index.html' %}
{% block content %}

    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href='{% url 'notificaciones' %}'>Ver</a></li>
                    <li id="ilnav"><a href='{% url 'nuevo_notificacion' %}'>Nuevo</a></li>
                    <li id="ilnav"><input class="form-control" type="text" name="buscar" placeholder="Buscar"/></li>

                </ul>
            </div>    
        </nav>
    </header>

    <div class="container">
        <h2><label class="control-label col-md-7" for="name">Lista de notificaciones</label></h2>
    </div>

    <div class="container">
        <div class="table-responsive col-md-9">
        <table id="mitabla" class="table table-bordered table-condensed">
            <tr>
                    <th id="misth2">Fecha</th>
                    <th id="misth3">No. cuenta</th>
                    <th id="misth4"colspan="2">Cliente</th>
                    <th id="misth5">Aviso</th>
                    <th id="misth6">Observación</th>
                    
                </tr>

                {% for not in lstNotificacion %}
                <tr>
                    <td>{{not.fechaNotificacion}}</td>
                    <td>{{not.cuentaCobrar.numeroCuentaCobrar}}</td>
                    <td>{{not.cuentaCobrar.clienteCuentaCobrar.personaCliente.apellidosPersona}}</td>
                    <td>{{not.cuentaCobrar.clienteCuentaCobrar.personaCliente.nombresPersona}}</td>
                    <td>{{not.aviso.tipoAviso}}</td>
                    <td>{{not.observacionesNotificacion}}</td>
                </tr> 

                {%endfor%}               
        </table>     
        </div>
    </div>

{% endblock %}
