{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav" class="active"><a href='{% url 'kardex'%}'>Ver</a></li>
                    <li id="ilnav"><a href='{% url 'ingreso_kardex'%}'>Ingreso</a></li>
                    <li id="ilnav"><a href='{% url 'salida_kardex'%}'>Salida</a></li>
                    <li id="ilnav"><input id="searchTerm" class="form-control" type="text" name="buscar" onkeyup="doSearch()" placeholder="Buscar"/></li>
                </ul>
            </div>    
        </nav>
    </header>

    <div class="container">
        <h2><label class="control-label col-md-11" for="name">Producto</label></h2>
    </div>
    <div class="container">
    <div class="form-group">
        <div class="col-md-4">
            <select class="form-control" name="country" id="basic" tabindex="-1" title="" class="select2-offscreen">
                {%for producto in lstProducto%}
                    <option value="{{producto.id}}">{{producto.descripcionProducto}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-md-1">
            <button class="submit" type="button" onclick="AgregarFila();"><span id="add" class="glyphicon glyphicon-plus-sign"></span></button>  
        </div>        
        <div class="form-inline">
            <label class="control-label col-md-1" for="name">Codigo:</label>
                <div class="col-md-2">
                    <input id="txtCodigo" class="form-control" type="text" name="stockMinimo" placeholder="..." readonly />
                </div>
        </div>
            <div class="form-inline">
            <label class="control-label col-md-1" for="name">Costo:</label>
                <div class="col-md-2">
                    <input id="txtCosto" class="form-control" type="text" name="costo" placeholder="0.00" readonly />
                </div>
            </div>     
    </div>
    <br><br>
    </div>
    <div class="container">
        <div class="col-md-4">
        </div>
        <div class="col-md-1">
        </div>

        <div class="form-group"> 
            <div class="form-inline">
            <label class="control-label col-md-1" for="name">Stock_Min:</label>
                <div class="col-md-2">
                    <input id="txtStockMin" class="form-control" type="text" name="stockMinimo" placeholder="0" readonly />
                </div>
            </div>
            <div class="form-inline">
            <label class="control-label col-md-1" for="name">Stock:</label>
                <div class="col-md-2">
                    <input id="txtStock" class="form-control" type="text" name="costo" placeholder="0" readonly />
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="table-responsive">
            <table id="mitabla" class="table table-bordered table-condensed">
                <thead>
                    <th id="misth1">Fecha</th>
                    <th id="misth2">Empresa o Razon Social</th>
                    <th id="misth3">Concepto</th>
                    <th id="misth4">Entra</th>
                    <th id="misth5">Sale</th>
                    <th id="misth6">Saldo</th>
                    <th id="misth7">Precio</th>
                </thead>
                <tbody></tbody>
            </table>     
        </div>
    </div>

    <hr>

    <br>
{% endblock %}
{%block js%}

<script>
    $(document).ready(function(){
        $("#basic").select2();
        
        $("#multi").select2({
            placeholder: "Seleccione un producto"
        });
        
        $("#minimum").select2({
            minimumInputLength: 2
        });
    });
</script>
<script type="text/javascript">
    function AgregarFila( ){
        deleteRow("mitabla");
        var table = document.getElementById("mitabla");                
        var combo = document.getElementById("basic");
        var index = combo.selectedIndex;
        var id = combo.options[index].value;
        var descripcion = combo.options[index].text;
        document.getElementById("txtCodigo").value = BuscarCodigoProducto(id);
        document.getElementById("txtCosto").value = BuscarCostoProducto(id);
        document.getElementById("txtStockMin").value = BuscarStockMinProducto(id);
        document.getElementById("txtStock").value = BuscarStockProducto(id);

        {%for fac in lstKardex%}
            if ('{{fac.productoKardex.id}}' == id)
            {
                    index = table.rows.length;
                    var row = table.insertRow(index);
                    row.value = id;
                    var fechaCell = row.insertCell(0);     var empresaCell = row.insertCell(1);
                    var conceptoCell = row.insertCell(2);  var entraCell = row.insertCell(3);
                    var saleCell = row.insertCell(4);      var saldoCell = row.insertCell(5);
                    var precioCell = row.insertCell(6);
                    var fecha = '{{fac.fechaKardex|date:"d-m-Y"}}';
                    var empresa = '{{fac.personaKardex.nombresPersona}}';
                    var obse = '{{fac.observacionesKardex}}';
                    var entra="0";
                    var sale="0";
                    var saldo='{{fac.saldoKardex}}';
                    var precio='{{fac.precioUnitarioKardex}}'
                    {%if fac.razonKardex == "MAS"%}
                        entra ='{{fac.cantidadKardex}}';
                    {%else%}
                        sale ='{{fac.cantidadKardex}}'
                    {%endif%}
                    fechaCell.innerHTML=fecha+"";             empresaCell.innerHTML=empresa+"";
                    conceptoCell.innerHTML=obse+"";           entraCell.innerHTML=entra+"";
                    saleCell.innerHTML=sale+"";               saldoCell.innerHTML=saldo+"";
                    precioCell.innerHTML= precio+"";
            }
        {%endfor%}
   }
   
    function deleteRow(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            
            for(var i=1; i<rowCount; i++) {

                table.deleteRow(i);
                rowCount--;
                i--;
            }
        }catch(e) {          
        }
    }

   function BuscarCostoProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.costoProducto}}";
            }
        {% endfor %}
    }

    function BuscarCodigoProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.codigoProducto}}";
            }
        {% endfor %}
    }  

    function BuscarStockMinProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.stockMinimoProducto}}";
            }
        {% endfor %}
    } 

    function BuscarStockProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.cantidadProducto}}";
            }
        {% endfor %}
    } 
</script>
{% endblock %}