{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'cuentas_por_cobrar'%}'>Ver</a></li>
                    <li id="ilnav" class="active"><a href='{% url 'nuevo_cuenta_por_cobrar'%}'>Nuevo</a></li>
                </ul>
            </div>    
        </nav>		
    </header>

<div class="container">
        <form id="miform" action="" class="form-horizontal">
        <!--<form class="contact_form" action="" method="post" name="contact_form">-->         		  
                <div class="form-group">
                    <h2><label class="control-label col-md-4" for="name">Datos de la cuenta por cobrar</label></h2> 
                    <!--<div class="col-md-4">
                        <span class="required_notification">* Datos Obligatorios</span>
                    </div>-->
                </div>
                <hr>

                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-md-2" for="name">C.C./Ruc:</label>
                        <div class="col-md-2">
                            <input class="form-control typeahead" name="cc_ruc" type="text" id="txtBuscarCliente" placeholder="Buscar Cliente..." autocomplete="off" />
                        </div>
                        <div class="col-md-1">
                            <button class="submit" type="button" onclick="mostrarCliente();"><span id="add" class="glyphicon glyphicon-ok"></span></button>  
                        </div>
                    </div>
                    
                    <div class="form-inline">
                        <label class="control-label col-md-4" for="name">Cont. No.:</label>
                        <div class="col-md-2">
                            <input id="txtNumero" class="form-control" type="text" name="num_cuenta" placeholder="001" />
                        </div>
                    </div>
                </div>              

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Cliente:</label>
                    <div class="col-md-5">
                        <input id="txtCliente" class="form-control" type="text" name="cliente" placeholder="..." readonly="true" />
                    </div>
                    <label class="control-label col-md-2" for="name">Fecha:</label>
                    <div class="col-md-2">
                        <input id="txtFecha" class="form-control"  type="text" placeholder="Seleccionar fecha"  id="example1">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-md-2" for="name">Dirección:</label>
                        <div class="col-md-5">
                            <input id="txtDireccion" class="form-control" type="text" name="direccion" placeholder="..."  readonly="true" />
                        </div>
                    </div>
                    <div class="form-inline">
                        <label class="control-label col-md-2" for="name">Saldo empenzará:</label>
                        <div class="col-md-2">
                            <input id="txtFechaCI" class="form-control"  type="text" placeholder="Seleccionar fecha"  id="example2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-md-2" for="name">Teléfono:</label>
                        <div class="col-md-2">
                            <input id="txtTelefono" class="form-control" type="text" name="telefono" placeholder="..." readonly="true" />
                        </div>
                    </div>
                    <div class="form-inline">
                        <label class="control-label col-md-1" for="name">Provincia:</label>
                        <div class="col-md-2">
                            <select class="form-control" onChange="ListaCiudad(this);" id="selectbasicP" name="selectbasicP">
                                {% for item in lstProvincia %}
                                <option value = {{ item.id }}>
                                {{ item.nombreProvincia }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-inline">
                        <label class="control-label col-md-2" for="name">Ciudad:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="selectbasicC" name="selectbasicC">
                                {% for item in lstCiudad2 %}
                                <option value = {{ item.id }}>
                                {{ item.nombreCiudad }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>                

                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Cuotas:</label>
                    <div class="col-md-1">
                        <input id="txtCuotas" class="form-control" type="text" name="cuotas_de" placeholder="10.00" />
                    </div>

                    <div class="form-inline">
                        <label class="control-label col-md-2" for="name">Forma de Pago:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="selectbasicF" name="selectbasic">
                                <option>Diario</option>
                                <option>Semanal</option>
                                <option>Mensual</option>
                                <option>Trimestral</option>
                                <option>Anual</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="form-inline">    
                        <label class="control-label col-md-2" for="name">Buscar:</label>
                        <div class="col-md-5">
                           <select class="form-control" name="country" id="basic" tabindex="-1" title="" class="select2-offscreen">
                                {%for producto in lstProducto%}
                                    <option value="{{producto.id}}">{{producto.descripcionProducto}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                    <div class="form-inline">  
                        <div class="col-md-1">
                            <input id="cantidad" class="form-control" type="text" name="cantidad" placeholder="cant." />
                        </div>
                    </div>

                    <div class="form-inline">  
                        <div class="col-md-1">
                            <button class="submit" type="button" onclick="AgregarFila();"><span id="add" class="glyphicon glyphicon-plus-sign"></span></button>  
                        </div>
                    </div>
                </div>
            
                <div class="container col-md-11">
                    <div id="miContenedorTabla" class="table-responsiv">
                    <p><table id="mitabla" name="mitable" class="table table-bordered table-condensed">
                        <thead>
                            <tr><!-- warning danger active ó success ó info-->
                                <th id="misth1" class="col-md-1">Cantidad</th>
                                <th id="misth2" class="col-md-5">Artículo</th>
                                <th id="misth3" class="col-md-1">Valor unitario</th>
                                <th id="misth4" class="col-md-1">Valor total</th>
                                <th id="misth5" class="col-md-1">Quitar</th>
                            </tr>
                        </thead>
                    </table></p>     
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Observaciones:</label>
                    <div class="col-md-6">
                        <textarea id="txtObservaciones" rows="1" class="form-control" name="observaciones" placeholder=""></textarea>
                    </div>

                    <label class="control-label col-md-1" for="name">Subtotal:</label>
                    <div class="col-md-2">
                        <input id ="txtSubtotal" class="form-control" type="text" name="total" placeholder="1200.00" readonly="true" />
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="control-label col-md-9" for="name">Cuota Inicial:</label>
                    <div class="col-md-2">
                            <input  id="txtCI" class="form-control" type="text" name="cuota_inicial" placeholder="20.00" readonly="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-9" for="name">Saldo:</label>
                    <div class="col-md-2">
                        <input id="txtSaldo" class="form-control" type="text" name="saldo" placeholder="100.00" readonly="true" />
                    </div>
                </div>
                
                <hr>

                <div class="form-group">
                    <label class="control-label col-md-5" for="name"></label>
                    <div class="col-md-1">
                        <button class="form-control submit" type="submit">Guardar</button>        
                    </div>
                </div>  
                <br>         
        </form>
    </div>  

{% endblock %}
{%block js %}
<script >
        var nombre = []
        var contador  = 0;
        {% for cli in lstCliente %}
            nombre[contador]="{{cli.personaCliente.cedulaPersona}}";
            console.log(nombre[contador]);
            contador=contador+1;
        {% endfor %}

          $('input.typeahead').typeahead({
                  local: nombre
              });

    function mostrarCliente(){
        var cedulaBuscar=document.getElementById("txtBuscarCliente").value;
        {% for cli in lstCliente %}
          if("{{ cli.personaCliente.cedulaPersona }}" == cedulaBuscar){
                var nombre = "{{cli.personaCliente.nombresPersona}}";
                var apellido = "{{cli.personaCliente.apellidosPersona}}";
                var direccion = "{{cli.personaCliente.direccionPersona}}";
                var telefono = "{{cli.personaCliente.telefonoPersona}}";
                document.getElementById("txtCliente").value=apellido + " " +nombre;
                document.getElementById("txtDireccion").value=direccion;
                document.getElementById("txtTelefono").value=telefono;
            }
        {% endfor %}
    }
</script>

<script type="text/javascript">
    
    function AgregarFila( ){
        var combo = document.getElementById("basic");
        var index = combo.selectedIndex;
        var id = combo.options[index].value;
        var descripcion = combo.options[index].text;
        var table = document.getElementById("mitabla");
        index = table.rows.length;
        if (index <=11)
        {
        if (EstaEnTabla(id)==false)
        {
            var row = table.insertRow(index);
            row.value = id;
            var cantidadCell = row.insertCell(0);     var descripcionCell = row.insertCell(1);
            var valorUnCell = row.insertCell(2);      var valorTotalCell = row.insertCell(3);
            var quitarCell = row.insertCell(4);

            var cantidadAux = (document.getElementById("cantidad").value +"").replace(",", ".");
            var valorUnAux = (BuscarPrecioProducto(id)+"").replace(",",".");
            var valorToAux = parseFloat(cantidadAux) * parseFloat(valorUnAux);
            var idPp = id + "";
            cantidadCell.innerHTML = cantidadAux;
            descripcionCell.innerHTML = descripcion;
            valorUnCell.innerHTML = valorUnAux+"";
            valorTotalCell.innerHTML = valorToAux+"";
            
            var strQuitar = "<button class='btn' type='button' onclick='EliminarFilas(this);'><span class='glyphicon glyphicon-remove'></button>";
            quitarCell.innerHTML = strQuitar;
            Sumartotales();
        }
        else
        {
            alert("Ya existe el producto en la tabla!");
        }
        }else
        {
            alert("Solo admite 11 productos!");
        }
   }

   function mostrarCliente(){
        var cedulaBuscar=document.getElementById("txtBuscarCliente").value;
        {% for cli in lstCliente %}
          if("{{ cli.personaCliente.cedulaPersona }}" == cedulaBuscar){
                var nombre = "{{cli.personaCliente.nombresPersona}}"
                var apellido = "{{cli.personaCliente.apellidosPersona}}"
                var direccion = "{{cli.personaCliente.direccionPersona}}"
                document.getElementById("txtCliente").value=apellido + " " +nombre;
                document.getElementById("txtDireccion").value=direccion;
            }
        {% endfor %}
    }

    function BuscarPrecioProducto(idProducto)
    {
        {% for pro in lstProducto %}
            var idPro = "{{pro.id}}";
            if (idProducto == idPro)
            {
                return "{{pro.precioContadoProducto}}";
            }
        {% endfor %}
    }       

    function EliminarFilas(t)
    {
        var td = t.parentNode;
        var tr = td.parentNode;
        var table = tr.parentNode;
        table.removeChild(tr)
        Sumartotales()
    }

    function redondeo(numero){
        var flotante = parseFloat(numero);
        var resultado = Math.round(flotante*100)/100;
        return resultado;
    }

    function Sumartotales(){
        var tabla = document.getElementById('mitabla');
        var total=0;
        for(var i = 1;tabla.rows[i];i++){
            total+= Number(tabla.rows[i].cells[3].innerHTML);
        }
            console.log(total);
            LlenarCamposTotales(total);
    }

    function LlenarCamposTotales(subtotal){
        var subAux = subtotal + "";
        sub = Number(subAux);
        var cuota_inicial = document.getElementById("txtCI").value;

        cuota = parseFloat("0.00");
        if (cuota_inicial != "")
        {
            cuota = parseFloat(cuota_inicial);
        }
        else
        {
            document.getElementById("txtCI").value = 0;
        }   

        totalAux = sub - cuota;
        document.getElementById("txtSubtotal").value = redondeo(sub);
        document.getElementById("txtCI").value = redondeo(cuota);
        document.getElementById("txtSaldo").value = redondeo(totalAux);
    }

    function EstaEnTabla(idProAux){
        var tabla = document.getElementById('mitabla');
        for(var i = 1;tabla.rows[i];i++){
            var idRow = tabla.rows[i].value;
            if (idRow == idProAux)
            {
                return true;
            }
        }
        return false;
    }

    function ListaCiudad(combo){
        var index = combo.selectedIndex;
        var id = combo.options[index].value;
        var valor = combo.options[index].text;
        var comboC = document.createElement('selectbasicC');
        document.getElementById("selectbasicC").options.length = 0;
        {% for ciu in lstCiudad %}
        var idProv = "{{ciu.provinciaCiudad.id}}";
            if (id == idProv)
            {
                var option = document.createElement('option');
                option.text = "{{ciu.nombreCiudad}}";
                option.value = "{{ciu.id}}";
                document.getElementById('selectbasicC').options.add(option);
            }
        {% endfor %}
    }

    $("#btnGuardar").click(
        function(){
        var tabla = document.getElementById('mitabla');
        var combo = document.getElementById('selectbasicF');
        var index = combo.selectedIndex;
        var formaPagoA = combo.options[index].text;

        var comboC = document.getElementById('selectbasicC');
        var indexC = comboC.selectedIndex;
        var ciudad = comboC.options[indexC].value;

        if (tabla.rows.length >1){ 
            $.get('/contable/cuenta_por_cobrar/guardar',{
                    numeroCuenta: document.getElementById("txtNumero").value,
                    coutaInicial: document.getElementById("txtCI").value,
                    cuota: document.getElementById("txtCuotas").value,
                    formaPago: formaPagoA,
                    total: document.getElementById("txtSubtotal").value,
                    saldo: document.getElementById("txtSaldo").value,
                    ciudadID: ciudad,
                    observaciones:document.getElementById("txtObservaciones").value,
                    cliente:document.getElementById("txtBuscarCliente").value,
                    fecha: f,
                    });
            for (var i = 1; i< tabla.rows.length;i++){
                $.get('/ventas/factura/guardarDetalle',{
                    cantidad: document.getElementById('mitabla').rows[i].cells[0].innerHTML,
                    precio: document.getElementById('mitabla').rows[i].cells[2].innerHTML,
                    numeroFactura: document.getElementById("txtnfactura").value,
                    productoId: document.getElementById("mitabla").rows[i].value,
                });
            }
            alert("Datos Guardados Correctamente... ")
        }
        setTimeout("location.href='/ventas/factura/nuevo'",2000);       
        }
    )
</script>

<script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#example1').datepicker({
                    format: "dd/mm/yyyy"
                }); 

                $('#example2').datepicker({
                    format: "dd/mm/yyyy"
                });  
            
            });
</script>

<script>
$(document).ready(function(){
    $("#basic").select2();
    
    $("#multi").select2({
        placeholder: "Seleccione un producto"
    });
    
    $("#minimum").select2({
        minimumInputLength: 2
    });
});
</script>
{%endblock%}