{% extends 'index.html' %}
{% block content %}
    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'ciudades'%}'>Ver</a></li>
                    {%if ciudadSelec.id != 0%}
                        <li id="ilnav"><a href='{% url 'nuevo_ciudad'%}'>Nuevo</a></li>
                    {%else%}
                        <li id="ilnav" class="active"><a href='{% url 'nuevo_ciudad'%}'>Nuevo</a></li>
                    {%endif%}
                </ul>
            </div>    
        </nav>
    </header>

    <div class="container">
        <form id="miform" action="{% url "guardar_ciudad" ciudadSelec.id %}" class="form-horizontal" method="POST" onsubmit="return formulario(this);">
        {% csrf_token %}
        {{ form.as_p }}                        
                <div class="form-group">
                    <h2><label class="control-label col-md-5" for="name">Datos de la ciudad</label></h2> 
                    <div class="col-md-4">
                        <span class="required_notification">Todos los campos son obligatorios</span>
                    </div>
                </div>
                <hr>
                <div class="form-group"> 
                     <div class="form-inline">
                        <label class="control-label col-md-4" for="name">Provincia:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="selectbasicP" name="selectbasicP">
                                {% for item in lstProvincia %}
                                    {%if item.id == ciudadSelec.provinciaCiudad.id%}
                                        <option value = {{ item.id }} selected>
                                        {{ item.nombreProvincia }}
                                        </option>
                                    {% else %}
                                        <option value = {{ item.id }}>
                                        {{ item.nombreProvincia }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Descripción:</label>
                    <div class="col-md-3">
                        {%if ciudadSelec.id != 0%}
                            <input class="form-control" type="text" name="descripcion" placeholder="" value="{{ciudadSelec.nombreCiudad}}" required />
                        {%else%}
                            <input class="form-control" type="text" name="descripcion" placeholder="" required />
                        {%endif%}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-6">
                        <button class="submit" type="submit">Guardar</button>        
                    </div>
                </div>
                <br>            
        </form>
    </div> 

{% endblock %}

{%block js%}

<script type="text/javascript">
    function formulario(f) {
        {% for ciu in lstCiudad %}
          if("{{ ciu.nombreCiudad }}".toLowerCase() == f.descripcion.value.toLowerCase() &&
            "{{ciu.id}}" != '{{ciudadSelec.id}}'){
            alert ('El nombre de ciudad ya existe'); 
            f.descripcion.focus(); return false;
         }
        {% endfor %}
        return true; 
    } 

</script>
{% endblock %}
