{% extends 'index.html' %}
{% block content %}

    <header id="header">
        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'usuarios'%}'>Ver</a></li>
                    <li id="ilnav" class="active"><a href='{% url 'nuevo_usuario'%}'>Nuevo</a></li>
                </ul>
            </div>    
        </nav>		
    </header>
    
<div class="container">
        <form id="miform" class="form-horizontal">
                <div class="form-group">
                    <h2><label class="control-label col-md-5" for="name">Datos del usuario</label></h2> 
                    <div class="col-md-4">
                        <span class="required_notification">Todos los campos son obligatorios</span>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Cédula:</label>
                    <div class="col-md-2">
                        <input class="form-control typeahead" name="cc_ruc" type="text" id="txtBuscarPersona" placeholder="Buscar..." autocomplete="off" />
                    </div>
                    <div class="col-md-1">
                        <button class="submit" type="button" onclick="mostrarDatos();"><span id="add" class="glyphicon glyphicon-ok"></span></button>  
                    </div> 
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Apellidos:</label>
                    <div class="col-md-5">
                        <input id="txtApellido" class="form-control" type="text" name="apellidos" placeholder="Mars Klinton" required/>
                    </div>

                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Nombres:</label>
                    <div class="col-md-5">
                        <input id="txtNombre" class="form-control" type="text" name="nombres" placeholder="John Doe" required/>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Teléfono:</label>
                    <div class="col-md-5">
                        <input id="txtTelefono" class="form-control" type="text" name="telefono" placeholder="0989108983" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="email">Email:</label>
                    <div class="col-md-5">
                        <input id="txtEmail" class="form-control" type="email" name="email" placeholder="john_doe@example.com" required/>
                    </div>
                    <span class="form_hint">Formato "name@something.com"</span>
                </div>
                
                <div class="form-group"> 
                    <div class="form-inline">
                        <label class="control-label col-md-4" for="name">Provincia:</label>
                        <div class="col-md-2">
                            <select class="form-control" onChange="listaCiudad(this);" id="selectbasicP" name="selectbasicP">
                                {% for item in lstProvincia %}
                                <option value = {{ item.id }}>
                                {{ item.nombreProvincia }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-inline">
                        <label class="control-label col-md-1" for="name">Ciudad:</label>
                        <div class="col-md-2">
                            <select class="form-control" id="selectbasicC" name="selectbasicC">
                                {% for item in lstCiudad2 %}
                                <option value = {{ item.id }}>
                                {{ item.nombreCiudad }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Dirección:</label>
                    <div class="col-md-5">
                        <input id="txtDireccion" class="form-control" type="text" name="direccion" placeholder="Av. Alejandro Castro y Av. Ferroviaría" required />
                    </div>

                </div>


                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Nick:</label>
                    <div class="col-md-5">
                        <input id="txtNick" class="form-control" type="text" name="nick" placeholder="John" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="password">Contraseña:</label>
                    <div class="col-md-5">
                        <input  id="txtClave" class="form-control" type="password" name="clave" placeholder="*********" required/>
                    </div>
                </div>

               <div class="form-group">
                    <label class="control-label col-md-4" for="password">Confirme Contraseña:</label>
                    <div class="col-md-5">
                        <input  id="txtClaveConfirme" class="form-control" type="password" name="confirmepassword" placeholder="*********" required />
                    </div>    
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="password">Roles:</label>
                    <div class="container col-md-4">
                    <div id="miContenedorTabla" class="table-responsiv">
                    <table id="mitabla" name="mitable" class="table table-bordered table-condensed">
                        <thead>
                            <tr><!-- warning danger active ó success ó info-->
                                <th id="misth1" class="col-md-1">IDE</th>
                                <th id="misth2" class="col-md-3">Rol</th>
                                <th id="misth3" class="col-md-1">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rol in lstRol %}
                                <tr>
                                    <td>{{ rol.id }}</td>
                                    <td>{{ rol.nombreRol}}</td>
                                    <td>
                                        <input id="chk" type="checkbox" name="checkboxes" value="Not"/>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                    </div>
                    </div>    
                </div>                
                <hr>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-6">
                        <button  id="btnGuardar" class="submit" type="button">Guardar</button>        
                    </div>
                </div>
                <br>            
        </form>
    </div>  

{% endblock %}


{%block js%}

<script type="text/javascript">
    function listaCiudad(combo){ 
        var index = combo.selectedIndex;
        var id = combo.options[index].value;
        var valor = combo.options[index].text;
        var comboC = document.createElement('selectbasicC');
        document.getElementById("selectbasicC").options.length = 0;
        {% for ciu in lstCiudad %}
        var idProv = "{{ciu.provinciaCiudad.id}}";
            if (id == idProv)
            {
                var option = document.createElement('option');
                option.text = "{{ciu.nombreCiudad}}";
                option.value = "{{ciu.id}}";
                document.getElementById('selectbasicC').options.add(option);
            }
        {% endfor %}
    }

    function mostrarDatos(){
        var cedulaBuscar=document.getElementById("txtBuscarPersona").value;
        {% for per in lstPersona %}
          if("{{ per.cedulaPersona }}" == cedulaBuscar){
                
                var nombres = "{{per.nombresPersona}}";
                var apellidos = "{{per.apellidosPersona}}";
                var telefono = "{{per.telefonoPersona}}";
                var direccion = "{{per.direccionPersona}}";
                var email = "{{per.emailPersona}}";
                var provinciaId = "{{per.ciudadPersona.provinciaCiudad.id}}";
                var ciudadId = "{{per.ciudadPersona.id}}";

                document.getElementById("txtApellido").value=apellidos;
                document.getElementById("txtNombre").value=nombres;
                document.getElementById("txtTelefono").value=telefono;
                document.getElementById("txtEmail").value=email;
                document.getElementById("txtDireccion").value=direccion;
                document.getElementById("selectbasicP").value = provinciaId;
                var comboP = document.getElementById("selectbasicP");
                listaCiudad(comboP)
                document.getElementById("selectbasicC").value = ciudadId;
            }
        {% endfor %}
    }

    function validarUsuario()
    {
        mensaje = "";
        var cedula = document.getElementById("txtBuscarPersona").value;
        var nickTemp = document.getElementById("txtNick").value;
        {% for usu in lstUsuario %}
            if('{{usu.personaUsuario.cedulaPersona}}' == cedula)
            {
                mensaje = mensaje + "La persona ingresada ya tiene un usuario \n";
            }
            var nick = '{{usu.nickUsuario}}';
            if(nick.toLowerCase() == nickTemp.toLowerCase())
            {
                mensaje = mensaje + "El nombre de usuario ingresado ya existe \n";
            }
        {% endfor %}
        var clave = document.getElementById("txtClave").value;
        var claveOtr = document.getElementById("txtClaveConfirme").value;
        if(clave != claveOtr)
        {
            mensaje= mensaje+"La contraseña no coincide \n";
        }
        var tabla = document.getElementById('mitabla');
        var existe=false;
        for (var i = 1; tabla.rows[i];i++){
            var row = (tabla.rows[i].getElementsByTagName('td')[2].getElementsByTagName('input')[0].checked);
            if(row == true){
                existe = true;
            }
        }
        if (existe == false)
        {
            mensaje = mensaje + "Debe seleccionar al menos un rol";
        }
        return mensaje;
    }

    function validarDatos()
    {
        ced = document.getElementById("txtBuscarPersona").value;
        ape = document.getElementById("txtApellido").value;
        nom = document.getElementById("txtNombre").value;
        tel = document.getElementById("txtTelefono").value;
        ema = document.getElementById("txtEmail").value;
        dir = document.getElementById("txtDireccion").value;
        ciu = document.getElementById("selectbasicC").value;
        nic = document.getElementById("txtNick").value;
        cla = document.getElementById("txtClave").value;
        clO = document.getElementById("txtClaveConfirme").value;
        if (ced.length == 0 || /^\s+$/.test(ced) ||
            ape.length == 0 || /^\s+$/.test(ape)||
            nom.length == 0 || /^\s+$/.test(nom)||
            tel.length == 0 || /^\s+$/.test(tel)||
            ema.length == 0 || /^\s+$/.test(ema)||
            dir.length == 0 || /^\s+$/.test(dir)||
            ciu.length == 0 || /^\s+$/.test(ciu)||
            nic.length == 0 || /^\s+$/.test(nic)||
            cla.length == 0 || /^\s+$/.test(cla)||
            clO.length == 0 || /^\s+$/.test(clO))
        {
            return "Ingrese todos los datos";
        } 
        else{
            return "";
        }
    }


    function sleep(miliseconds) {
        var currentTime = new Date().getTime();
        while (currentTime + miliseconds >= new Date().getTime()) {
        }
    }

    $("#btnGuardar").click(
        function(){
            mensaje1 = validarDatos();
            mensaje = validarUsuario();

            if(mensaje1 != "" || mensaje!="")
            {
                alert(mensaje1+"\n"+mensaje);
            }
            else
            {
                var tabla = document.getElementById('mitabla');
                var cuenta = 0;
                if (tabla.rows.length >1){ 
                    for (var i = 1; tabla.rows[i];i++){
                        var row = (tabla.rows[i].getElementsByTagName('td')[2].getElementsByTagName('input')[0].checked);
                        if(row == true){
                            cuenta = cuenta+1;
                            $.get("{% url 'guardar_usuario_nuevo' %}",{
                            contador:cuenta,
                            cedula:document.getElementById("txtBuscarPersona").value,
                            apellidos:document.getElementById("txtApellido").value,
                            nombres:document.getElementById("txtNombre").value,
                            telefono:document.getElementById("txtTelefono").value,
                            direccion:document.getElementById("txtDireccion").value,
                            email:document.getElementById("txtEmail").value,
                            ciudadId:document.getElementById("selectbasicC").value,
                            nick:document.getElementById("txtNick").value, 
                            clave:document.getElementById("txtClave").value,
                            rolId:document.getElementById('mitabla').rows[i].cells[0].innerHTML,
                            });
                            sleep(5000);
                        }
                    }
                }
                alert("Datos Guardados Correctamente... ")
            }
            setTimeout("location.href='{% url 'usuarios'%}'",1000);     
        }
    )

</script>

<script >
        var nombre = []
        var contador  = 0;
        {% for per in lstPersona %}
            nombre[contador]="{{per.cedulaPersona}}";
            console.log(nombre[contador]);
            contador=contador+1;
        {% endfor %}    

          $('input.typeahead').typeahead({
                  local: nombre
              });
</script>
{% endblock %}