{% extends 'index.html' %}
{% block content %}

        <nav id="mibaner_2" class="navbar navbar-inverse" role="banner">
            <div  id="micontainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#minavb_2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
            <div id="minavb_2" class="collapse navbar-collapse navbar-left">
                <ul id="miulnav" class="nav navbar-nav">
                    <li id="ilnav"><a href='{% url 'roles'%}'>Ver</a></li>
                    <li id="ilnav" class="active"><a href='{% url 'nuevo_rol'%}'>Nuevo</a></li>
                </ul>
            </div>    
        </nav>
    </header>

	<div class="container">
         <form id="miform" action="" class="form-horizontal">
        <!--<form class="contact_form" action="" method="post" name="contact_form">-->   
                <div class="form-group">
                    <h2><label class="control-label col-md-5" for="name">Dato del rol</label></h2> 
                    <!--<div class="col-md-4">
                        <span class="required_notification">Todos los campos son obligatorios</span>
                    </div>-->
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Descripción:</label>
                    <div class="col-md-5">
                        <input id="txtRol" class="form-control" type="text" name="descripcion" placeholder=""/>
                    </div>
                </div>
                <hr>                                  
                <div class="form-group">
                    <h2>
                        <label class="control-label col-md-5" for="name">Asignación de menús</label>
                    </h2> 
                </div>

                <div class="container col-md-8">
                    <div id="miContenedorTabla" class="table-responsiv">
                    <p><table id="mitabla" name="mitable" class="table table-bordered table-condensed">
                        <thead>
                            <tr><!-- warning danger active ó success ó info-->
                                <th id="misth1" class="col-md-1">IDE</th>
                                <th id="misth2" class="col-md-1">Codigo</th>
                                <th id="misth3" class="col-md-5">Descripcion</th>
                                <th id="misth4" class="col-md-1">Permiso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for men in lstMenu %}
                                <tr>
                                    <td>{{ men.id }}</td>
                                    <td>{{ men.codigoMenu}}</td>
                                    <td>{{ men.descripcionMenu }}</td>
                                    <td>
                                        <input id="chk" type="checkbox" name="checkboxes" value="Not">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table></p>     
                    </div>   
                </div>

                <hr>

                <div class="form-group">
                    <label id="lblEstado" class="control-label col-md-5" for="name"></label>
                    <div class="col-md-4">
                        <button id="btnGuardar" class="submit" type="button" >Guardar</button>        
                    </div>
                </div>  
                <hr>
                <br>            
        </form>
    </div> 

{% endblock %}

{% block js %} 

<script type="text/javascript">
    function validar()
    {
        var mensaje=""
        var tabla = document.getElementById('mitabla');
        var existe = false;
        for (var i = 1; i< tabla.rows.length;i++){
            var row = (tabla.rows[i].getElementsByTagName('td')[3].getElementsByTagName('input')[0].checked);
            if(row == true){
                existe=true;
            }
        }
        if (existe==false)
            mensaje = mensaje + "Debe seleccionar al menos un menu"
        return mensaje;
    }

    function sleep(miliseconds) {
           var currentTime = new Date().getTime();

           while (currentTime + miliseconds >= new Date().getTime()) {
           }
    }

    $("#btnGuardar").click(
        function(){
            var mensaje = validar();
            if (mensaje != "")
            {
                alert(mensaje);
            }
            else
            {
                var tabla = document.getElementById('mitabla');
                var cuenta = 0;
                if (tabla.rows.length >1){   
                    document.getElementById('btnGuardar').disabled = true;
                    document.getElementById('lblEstado').innerHTML = "Guardando datos. Espere...";
                    for (var i = 1; tabla.rows[i];i++){
                        var row = (tabla.rows[i].getElementsByTagName('td')[3].getElementsByTagName('input')[0].checked);
                        //alert("ok");
                        if(row == true){          
                            cuenta=cuenta+1;
                            $.get("{% url 'guardar_rol_nuevo' %}",{
                                contador:cuenta,
                                rol:document.getElementById("txtRol").value,
                                idMenu:document.getElementById('mitabla').rows[i].cells[0].innerHTML
                            });
                            sleep(1000);
                        }
                    }
                    alert("Datos Guardados Correctamente... ")
                }
                setTimeout("location.href='{% url 'roles' %}'",2000);
            }       
        }
    )
</script>
{% endblock %}